<section id="getProductsByKeyword">
  <form (ngSubmit)="getProductsByKeyword()" [formGroup]="myForm">
    <div>
      <label>Từ khóa tìm kiếm</label>
      <input
        formControlName="keyword"
        id="keyword"
        pInputText
        placeholder="Nhập từ khóa sản phẩm..."
      />
    </div>
    <div>
      <label>Số trang cần cào</label>
      <p-inputnumber
        [max]="100"
        [min]="1"
        formControlName="numberOfPagesToCrawl"
        inputId="numberOfPagesToCrawl"
        mode="decimal"
        showButtons="true"
      />
    </div>
    <p-button
      *ngIf="!isWaitingForCrawling()"
      [disabled]="myForm.invalid"
      icon="pi pi-search"
      label="Bắt đầu cào sản phẩm"
      severity="secondary"
      type="submit"
    />
    <p-button
      *ngIf="isWaitingForCrawling()"
      disabled
      label="Bạn chờ một xíu nhé"
      severity="secondary"
    >
      <i class="pi pi-spin pi-spinner"></i>
    </p-button>
  </form>

  <app-actions-after-crawling *ngIf="crawledProducts().length > 0" [crawledProducts]="crawledProducts()"/>
</section>
